@font-face {
    font-family: 'extrabold';
    src: url('./Supreme-Extrabold.ttf') format('woff2'),
         url('./Supreme-Extrabold.woff') format('woff'),
         url('./Supreme-Extrabold.ttf') format('truetype');
         font-weight: 800;
         font-display: swap;
         font-style: normal;
}

@font-face {
    font-family: 'bold';
    src: url('./Supreme-Bold.woff2') format('woff2'),
         url('./Supreme-Bold.woff') format('woff'),
         url('./Supreme-Bold.ttf') format('truetype');
         font-weight: 700;
         font-display: swap;
         font-style: normal;
}

@font-face {
    font-family: 'regular';
    src: url('./Supreme-Regular.woff2') format('woff2'),
         url('./Supreme-Regular.woff') format('woff'),
         url('./Supreme-Regular.ttf') format('truetype');
         font-weight: 400;
         font-display: swap;
         font-style: normal;
}

@font-face {
    font-family: 'logo';
    src: url('./Styro-Extrabold.woff2') format('woff2'),
         url('./Styro-Extrabold.woff') format('woff'),
         url('./Styro-Extrabold.ttf') format('truetype');
         font-weight: 800;
         font-display: swap;
         font-style: normal;
}